@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --content-background: #f1f1f1;
    --text-color: #333;
    --border-radius: 5px;
    --spinner-color: #1c979b;
}

.main-title {
    font-size: 4em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url('./utils/imgs/wallpaper.webp');
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: calc(100vh - 50px);
}

nav {
    position: sticky;
    width: 100vw;
    overflow: hidden;
    background-color: #333;
    top: 0px;
    height: fit-content;
    min-height: 50px;
}

.container {
    flex-direction: column;
    width: 80%;
    min-width: 300px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 15px;
}

a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav a {
    display: block;
    padding: 14px 16px;
    color: var(--content-background);
}

a:hover, .card-content a:hover {
    color: #aaa;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--content-background);
    border-radius: var(--border-radius);
}

.card-content {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.card-content>* {
    padding: 15px 10px;
    width: 100%;
}

.card-content a {
    color: var(--spinner-color);
}

.card img {
    object-fit: cover;
    margin-right: 15px;
    border-radius: var(--border-radius);
    transition: .2s ease-in-out;
    height: 200px;
    width: 100%;
    box-shadow: 0px 2px 2px gray;
}

.form-element {
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    display: inline-block;
    font-size: 13px;
    line-height: 34px;
    height: 36px;
    border: none;
    border-radius: 15px;
    background-color: var(--content-background);
}

.del-button {
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    height: 36px;
    color: white;
    background-color: #dc3545;
    transition: .1s ease-in-out;
    padding: 0 18px;
}

.del-button:hover {
    cursor: pointer;
    background-color: #9c232f;
}

#travel-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 50px;
}

#info {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--spinner-color);
    border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    #travel-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1680px) {
    #travel-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1681px) {
    #travel-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}