@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background-color: var(--body-background);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --body-background: #fff;
    --content-background: #eee;
    --text-color: #333;
    --border-radius: 5px;
    --primary-blue: #1c979b;
}

.main-title {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px #333;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header {
    background-image: url('../imgs/wallpaper.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    height: calc(100vh - 50px);
}

nav {
    position: sticky;
    width: 100vw;
    overflow: hidden;
    background-color: #333;
    top: 0px;
    height: fit-content;
    min-height: 50px;
}

.container {
    flex-direction: column;
    width: 80%;
    min-width: 300px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 15px;
}

a {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
}

nav a,
nav a:visited,
nav a:active {
    display: block;
    padding: 14px 16px;
    color: #ddd;
}

a:hover,
.card-content a:hover {
    color: #aaa !important;
}

label {
    padding-left: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--content-background);
    border-radius: var(--border-radius);
}

.card-edited {
    border-bottom: 5px solid var(--primary-blue);
}

.card-content {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.card-content>* {
    padding: 15px 10px;
    width: 100%;
}

.card-content a,
.card-content a:visited {
    color: var(--primary-blue);
}

.card img {
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: .2s ease-in-out;
    height: 200px;
    width: 100%;
}

.form-element {
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    display: inline-block;
    font-size: 13px;
    line-height: 34px;
    height: 36px;
    border: none;
    border-radius: 15px;
    background-color: var(--content-background);
}

button:not(.ico-button) {
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    height: 36px;
    color: white;
    transition: .1s ease-in-out;
    padding: 0 18px;
    margin: 5px 0;
}

button[disabled]:not(.ico-button) {
    pointer-events: none;
    background-color: #999 !important;
    color: #666 !important;
}

button.primary {
    background-color: var(--primary-blue);
}

button.primary:hover {
    cursor: pointer;
    background-color: #0d595c;
}

button.secondary {
    background-color: #5781a8;
}

button.secondary:hover {
    cursor: pointer;
    background-color: rgb(11, 44, 71);
}

.del-button {
    background-color: #dc3545;
}

.del-button:hover {
    cursor: pointer;
    background-color: #9c232f;
}

#travel-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 50px;
}

#info {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-blue);
    border-color: var(--primary-blue) transparent var(--primary-blue) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.modal-wrapper {
    position: fixed;
    flex-direction: column;
    background-color: #85858593;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal {
    background-color: var(--body-background);
    border-radius: var(--border-radius);
    animation: fadein .5s;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--primary-blue);
    border-radius: var(--border-radius);
}

.modal-header>h2,
#exit {
    color: #eee;
}

#exit:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.ico-button {
    position: fixed;
    height: 50px;
    width: 50px;
    border: none;
}

#theme-btn {
    right: 20px;
    bottom: 20px;
    background: url('../imgs/theme.png') no-repeat top left;
    background-size: cover;
}

#down-btn {
    right: 80px;
    bottom: 20px;
    background: url('../imgs/down.png') no-repeat top left;
    background-size: cover;
    display: none;
}

.modal form {
    margin: 20px;
}

@keyframes lds-dual-ring {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
    #travel-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1680px) {
    #travel-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1681px) {
    #travel-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    #down-btn {
        display: block;
    }
}